@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  background-color: black;
  color: white;
}

.gelasio {
  font-family: "Gelasio", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@theme inline {
  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
  --color-color-5: var(--color-5);
  --color-color-4: var(--color-4);
  --color-color-3: var(--color-3);
  --color-color-2: var(--color-2);
  --color-color-1: var(--color-1);
  @keyframes rainbow {
  0% {
    background-position: 0%;
    }
  100% {
    background-position: 200%;
    }
  }
  --animate-grid: grid 15s linear infinite
;
  @keyframes grid {
  0% {
    transform: translateY(-50%);
    }
  100% {
    transform: translateY(0);
    }
  }}

:root {
  --color-1: oklch(66.2% 0.225 25.9);
  --color-2: oklch(60.4% 0.26 302);
  --color-3: oklch(69.6% 0.165 251);
  --color-4: oklch(80.2% 0.134 225);
  --color-5: oklch(90.7% 0.231 133);
}

.dark {
  --color-1: oklch(66.2% 0.225 25.9);
  --color-2: oklch(60.4% 0.26 302);
  --color-3: oklch(69.6% 0.165 251);
  --color-4: oklch(80.2% 0.134 225);
  --color-5: oklch(90.7% 0.231 133);
}

@layer base {
  .theme {
    --animate-background-position-spin: background-position-spin 3000ms infinite alternate;
    --animate-blink-cursor: blink-cursor 1.2s step-end infinite;
    --animate-rippling: rippling var(--duration) ease-out;
    --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
    --animate-grid: grid 15s linear infinite;
  }
  :root {
    --color-1: oklch(66.2% 0.225 25.9);
    --color-2: oklch(60.4% 0.26 302);
    --color-3: oklch(69.6% 0.165 251);
    --color-4: oklch(80.2% 0.134 225);
    --color-5: oklch(90.7% 0.231 133);
  }
  .dark {
    --color-1: oklch(66.2% 0.225 25.9);
    --color-2: oklch(60.4% 0.26 302);
    --color-3: oklch(69.6% 0.165 251);
    --color-4: oklch(80.2% 0.134 225);
    --color-5: oklch(90.7% 0.231 133);
  }
}




@keyframes grid-flow {
  0% { transform: perspective(500px) rotateX(60deg) translateY(0); }
  100% { transform: perspective(500px) rotateX(60deg) translateY(40px); }
}

.animate-grid-flow {
  background-image: 
    linear-gradient(to right, rgba(0, 242, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 242, 255, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
  animation: grid-flow 2s linear infinite;
}


::selection {
  background-color: #2cd3e5;
  color: #000000;
}

/* For compatibility with older Firefox versions */
::-moz-selection {
  background-color: #2cd3e5;
  color: #000000;
}